<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0, maximum-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">

    <link href="{{url_for('static', filename='css/main.css')}}" rel="stylesheet" />
    <script src="{{url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/foundation-sites/foundation.min.js')}}"></script>
    <script src="{{url_for('static', filename='javascript/main.js')}}"></script>
    <title>{% block title %}{% endblock %}</title>
  {% block head %}
  {% endblock %}
</head>
<body class="background-{{ range(1, 9) | random }}">
  <main role="main">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="small-12 large-8 columns">
          {% for message  in messages %}
            <p>
              {{ message|safe }}&nbsp;
            </p>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </main>
</body>