{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block title %}
  {{legislation.title}}
{% endblock %}

{% block content %}
  <div class="expanded row">
    <div class="small-12 large-8 large-offset-2 columns">
      <form id="question" action="" method="post">
          {{ form.csrf_token }}
          <h1>{{form.values.label}}</h1>
          {{form.legislation_id}}
          {{form.key}}
          <blockquote>
            &#8220;{{legislation.friendly_title}}&#8221;
          </blockquote>
          <p>
            <a target="_new" href="{{legislation.html_url}}">
              <small>View full text</small>
            </a>
          </p>
          {{form.values}}
          {% if form.values.description %}
            <p class="help-text">{{form.values.description}}</p>
          {% endif %}

          <p>
            <button type="submit" class="button expanded">Save</button>
          </p>
          <p>
            <a href="{{url_for('legislation')}}">I don't know or I don't think this is relevant to the UK</a>
          </p>
        </div>
      </form>
    </div>
  </div>
{% endblock %}