{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block title %}
  {{legislation.title}}
{% endblock %}

{% block content %}
  <div class="expanded row">
    <div class="small-12 large-8 large-offset-2 columns">
      <form id="question" action="" method="post">
          {{ form.csrf_token }}
          
          <p class="lead">
            &#8220;{{legislation.friendly_title}}&#8221;
          </p>
          <p>
            <a target="_new" href="{{legislation.html_url}}">
              <small>View full text</small>
            </a>
          </p>
          {{form.legislation_id}}
          {{form.key}}
          {{form.values.label}}
          {{form.values}}
          <p class="help-text">{{form.values.description}}</p>
          
          {% if random %}
            <p>
              <button type="submit" class="button expanded">Save answer</button>
            </p>
            <p class="text-center"> 
              <a href="{{url_for('legislation')}}">I've no idea, skip this one.</a>
            </p>
          {% else %}
            <p>
              <button type="submit" class="button expanded">Save</button>
            </p>
          {% endif %}
        </div>
      </form>
    </div>
  </div>
{% endblock %}