@import 'foundation';
@import '_settings.scss';
@include foundation-everything;

body {
  text-align: center;
  color:#fff;
}

#logo {
  height:120px;
  margin:80px 40px 40px 40px;
}

h2 {
  font-size:100%;
}

label {
  color:#fff;
  font-size:1rem;
}
.help-text {
  color:#fff;
}

a, a:hover {
  color:#fff;
  text-decoration: underline;
}

.button, .button:hover {
  background:#fff;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

body.background-1 {
  background-color:#8e44ad;
  .button, .button:hover {
    color:#8e44ad;
  }
}

body.background-2 {
  background-color:#e67e22;
  .button, .button:hover {
    color:#e67e22;
  }
}

body.background-3 {
  background-color:#f1c40f;
  .button, .button:hover {
    color:#f1c40f;
  }
}


body.background-4 {
  background-color:#d35400;
  .button, .button:hover {
    color:#d35400;
  }
}

body.background-5 {
  background-color:#3498db;
  .button, .button:hover {
    color:#3498db;
  }
}

body.background-6 {
  background-color:#e74c3c;
  .button, .button:hover {
    color:#e74c3c;
  }
}

body.background-7 {
  background-color:#1abc9c;
  .button, .button:hover {
    color:#1abc9c;
  }
}

body.background-8 {
  background-color:#34495e;
  .button, .button:hover {
    color:#34495e;
  }
}

body.background-9 {
  background-color:#95a5a6;
  .button, .button:hover {
    color:#95a5a6;
  }
}

body.background-10 {
  background-color:#27ae60;
  .button, .button:hover {
    color:#27ae60;
  }
}

#question .lead {
  font-size:200%;
  font-weight:bold;
}

#leaderboard{
  text-align:left;
}

ul#values li {
  display:inline;
  list-style-type: none;
}